torch==1.8.0
torchvision==0.9.0
tensorboardx==2.1
matplotlib==3.3.4
opencv-python==4.5.1.48
scikit-image==0.18.2
scipy==1.7.0
numpy==1.19.5
imantics==0.1.12
shapely==1.7.1
click==7.1.2
cycler==0.10.0
decorator==4.4.2
imageio==2.9.0
kornia==0.4.1
pillow==8.2.0
pytorch-lightning==1.2
tqdm
pylsd-nova
